<div class="daily-forecast-container">
    <section class="forecast-date">
        {{ date }}
    </section>
    <section>
        <div>
          <img class="weather-icon" src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png" alt="Forcast" />
          <div class="forecast-description">
              {{ forecast.weather[0].description }}
          </div>
        </div>
        <div class="high-temp">
            {{ forecast.temp.max | temperature: tempType}}°
        </div>
         /
        <div class="low-temp">
            {{ forecast.temp.min | temperature: tempType }}°
        </div>
    </section>
    <section class="daily-details-section">
        <div title="Chance of precipitation (rain / snow)">
            <span>☂️ </span>
            <span class="details-value">{{ forecast.dew_point}}%</span>
        </div>
        <div title="Humidity">
            <span>😰 </span>
            <span class="details-value">{{ forecast.humidity }}%</span>
        </div>
        <div title="Wind speed / direction">
            <span>💨 </span>
            <span class="details-value">{{ forecast.wind_speed }} mph {{ forecast.wind_deg }}</span>
        </div>
    </section>
</div>
